<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="dnb-user" value="ken.kopczyk@gmail.com"/>
    <add key="dnb-pwd" value="sandbox"/>
    <add key="token" value="r162woG3zCb6oLHd52tMncWh1PvghSIbPIKflH0FHj8vNXo+PIDvFBLoKy0AdPjSlaJGzYMbFOP2ps9VrS9iC7CJptgYzcpA8rpHnECpjJADTC6ekdHssCQ4Lr5vKC7KBqXwYCZytiRlfX6o39oIr7Vdto82T5lE8141aeJvQAX4JkapuI23WQO83NRGHUJtIZKgoKoVY8TBfPLGZvcpA8WoIE3rnRpAABMyh68h/0Tn55ph3RRxImnpggsXcGtnbUeIhG4ql3dDCKRn1yrAsRR8VSyTZmXIW+o3XRg7Wdxamht3vR29iITIOjKK8+/gN7CqTQBTJbcyN7s1TIWNaQ=="/>
  </appSettings>
  
    <system.web>
      <compilation targetFramework="4.0" />
      <httpHandlers>
         <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
      <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?" />
    </system.web>

<system.webServer><modules runAllManagedModulesForAllRequests="true" /><validation validateIntegratedModeConfiguration="false" /><handlers><add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" /></handlers></system.webServer></configuration>
